.container {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // padding: 4px 8px;
    position: fixed;
    bottom: 0;
    // left: 50%;
    // transform: translate(-50%, 0);
    width: 100vw;
    transition: 500ms;
    padding-top: 16px;
    height: 0;
}

.blackContainer {
    background-color: #000000FD;
    height: unset;
}

.hide {
    transform: translate(0, 120%);
}

.hideable {
    // background-color: hsl(255, 50%, 90%);
    transition: 250ms;
    text-align: center;
    // border-radius: 12px;
}

.show {
    bottom: 0;
    left: 0;
}

.floatButton {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.numberName {
    color: #000000dd;
    font-size: 1.3em;
}

.numberInput {
    color: #000000dd;
}

.numberLabel {
    color: #000000aa;
    // background-color: green;
    font-size: 1.3em;
    font-weight: 300;
}

.numberContainer:first-child {
    // border-top-left-radius: 0.8rem;
    // border-top-right-radius: 0.8rem;
    // padding-top: 1.2rem;    
    // border-top: 3px solid hsl(255, 50%, 50%, 70%);
}

.numberContainer {
    // background-color: darkorange;
    padding: 0.8rem;
    // border-left: 1px solid hsl(255, 90%, 80%, 70%);
    // border-right: 1px solid hsl(255, 90%, 80%, 70%);
}

.numberContainer:last-child {
    // padding: 1.8rem;
    // border-left: 1px solid hsl(255, 90%, 80%, 70%);
    // border-right: 1px solid hsl(255, 90%, 80%, 70%);
}

.finalTimeContainer, .buttonContainer {
    // background-color: hsl(255, 90%, 80%);
}
.buttonContainer {
    // border-bottom-left-radius: 1.6rem;
    // border-bottom-right-radius: 1.6rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
    text-align: center;
    border-radius: 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.427);
    border-width: 1px;
    font-size: 1.4rem;
}
.inputForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #fefefe;
    border-radius: 1.6rem;
    padding: 0.4rem;
    box-shadow: 0.1rem 0.1rem 0.4rem #00000022;
}

@media (min-width: 450px) {
    .inputForm {
        display: flex;
        flex-direction: row;
        margin-right: 1.6rem;
        justify-content: center;
    }
}

@media (max-width: 449px) {
    .inputForm {
        display: flex;
        flex-direction: column;
    }

    .hideable {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
}
@keyframes pop-in {
    from {
        opacity: 0;
        transform: scale(0.7);
    }
    
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.showFormPanel {
    position: absolute;
    bottom: 16px;
    animation: pop-in 750ms 1;
}

.hideFormPanel {
    // background-color: red;
}

.showButton {
    background-color: hsl(225, 70%, 50%);
    border-color: hsl(225, 70%, 55%);
    font-size: 28px;
}

.hideButton {
    background-color: hsl(355, 70%, 60%);
    border-color: hsl(355, 50%, 50%);    
    font-size: 18px;
}

.hideButton, .showButton {
    width: 36px;
    height: 36px;
    border-radius: 42px;
    color: white;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    opacity: 0.9;
    transition: 500ms;
    &:hover {
        opacity: 1;
    }
}